<template>
    <div class="card">
      <img :src="games.background_image"  class="poster">
      <div class="card-body">
        <div class="card-text"><span>Rating:{{ games.rating }}&#9733;</span></div>
        <div class="card-title">
            <span>Genres: </span><span v-for="(item , i) in games.genres" :key="i">{{item.name}} | </span>
        </div>
      </div>
      <div class="card-footer">
        <router-link class="gameT" :to="{name:'game', params:{id:games.id}}">&rArr; {{games.name}} &lArr;</router-link>
      </div>
    </div>
</template>
<script>
  export default {
    name: "GameCard",
    props: {
      games: {
        type: Object,
        required: true
      },
    }
  }
</script>

<style lang="sass">
.card
    width: 350px
    height: 425px
    display: flex
    flex-direction: column
    margin: 30px
.poster
    width: 350px
    height: 250px
    border: 3px solid black
    border-top-left-radius: 25px
    border-top-right-radius: 25px 
.card-footer
    width: 350px
    height: 75px
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
    border: 3px solid black
    text-align: center
    background-color: black
.card-body
    width: 350px
    height: 100px
    display: flex
    flex-direction: column
    justify-content: space-around
    border-left: 3px solid black
    border-right: 3px solid black
    background-color: #707070
.gameT
    text-decoration: none
    color: red
    font-weight: bold
    font-size: 20px
.card-body span
    color: orange
    font-weight: bold
    font-size: 20px
</style>