<template>
<div class="popup">
    <div class="popup_body" id="form">
        <h2 class="authorize">{{info.name}}</h2>
        <div>
            <h2>Set your mark</h2>
            <input v-model="infoMyItem.mark" class="name" type="number" min="1" max="5">
        </div>
        <div>
            <h2>Reason why you like this game?</h2>
            <input v-model="infoMyItem.reason" class="pass" type="text">
        </div>
        <btn type="submit" class="adder" @click.native="$emit('saving',infoMyItem)">Add</btn>
    </div>
</div>
</template>
<script>
import Btn from '../components/Btn'
import { mapState, mapMutations, mapActions } from "vuex";
export default {
    name:'Save',
    data(){
        return {
        infoMyItem:{
                mark:'',
                reason:'',
                time: new Date().toLocaleString(),
                name: this.info.name,
                id: this.info.id,
                img: this.info.background_image
            }
        }      
    },
    props:{
      info:{
          type:Object,
          required:true
      }  
    },
    components:{
        Btn
    }, 
}
</script>
<style lang="sass">
.adder
    background-color: blue
    color: white
    font-size: 26px
    border: none
    border-radius: 10px
.authorize 
    text-align: center
.popup 
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.4)
    position: fixed
    top: 0px
    left: 0px
    display: flex
    justify-content: center
    align-items: center
.popup_body
    width: 500px
    box-sizing: border-box
    position: relative
    padding: 10px 20px
    height: 500px
    background: #fff
    display: flex
    flex-direction: column
    justify-content: space-around
.name 
    width: 400px
    height: 50px
    font-size: 25px
.pass 
    width: 400px
    height: 50px
    font-size: 25px
.Animation-enter-active
    animation: Animation .5s
.Animation-leave-active 
    animation: Animation .5s reverse
@keyframes Animation 
    0% 
        transform: scale(0)
    50% 
        transform: scale(1.5)
    100%
        transform: scale(1)
</style>