<template>
<div v-if="!yetReady">
<div class="details">
    <transition name="Animation">
    <savepop :info="data" @saving="savegame" v-if="!saver"/>
    </transition>
    <div class="atr">
        <div>
            <img :src="data.background_image" />
        </div>
        <div class="main_info" v-if="!yetReady">
            <span>Title:{{data.name}}</span>
            <br>
            <span>Release:{{data.released}}</span>
            <br>
            <span>Updated:{{data.updated}}</span>
            <br>
            <span>Develop Company:<span v-for="(item , i) in data.developers" :key="i">{{item.name}}</span></span>
            <br>
            <span>Platforms:<span v-for="item in data.platforms" :key="item.platform.id">{{item.platform.name}} | </span></span>
        </div>
    </div>
    <div class="descript" v-if="!yetReady">
        <h1>Description</h1>
        <div class="about_it">
        {{data.description_raw}}
        </div>
        <h1>Add in your favourite</h1>
        <btn class="addin" @click.native="startAdd">Add</btn>
    </div>
</div>
</div>
</template>
<script>
import {mapState, mapMutations, mapActions} from 'vuex'
import Savepop from '../components/Save'
import Btn from '../components/Btn'
export default {
    components:{
        Savepop,
        Btn
    },
    beforeMount(){
        this.gameDetails(this.$route.params.id)
    },
    beforeRouteEnter(to, from, next){
        setTimeout(next, 2000)
    },
    methods:{
        ...mapMutations({
            detailing:'SET_UNIQOBJ',
            saved:'SET_ADD_MYGAME',
        }),
        ...mapActions({
            favouriting:'GET_MY_LIST',
            gameDetails:'GET_GAME'
        }),
        savegame(obj){
            this.saved(true)
            this.favouriting(obj);
        },
        startAdd(){
            this.saved(false)
        }       
    },
    computed:{
        ...mapState({
            data:state => state.uniqObj,
            saver:state => state.AddMyGame,
            yetReady:state => state.infoLoad
        })
    },
    beforeRouteLeave(to, from, next){
         this.detailing({});
         next()
    },
}
</script>
<style lang="sass">
    .addin
        width: 100px
        height: 50px
        font-size: 30px
        border: none
        border-radius: 10px
        background-color: #7995f2
        color: white
        outline: none
    .main_info
        display: flex
        flex-direction: column
        justify-content: space-around
        text-align: center
        font-weight: bold
        font-size: 20px
        color: #00196b
    .details
        width: 100%
        height: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
    .atr
        width: 25%
        height: 600px
    .atr img
        width: 380px
        height: 300px
    .descript
        width: 70%
        height: 620px
        color: #00196b
    .about_it
        font-weight: bold
        font-size: 25px
    
</style>